<table>
    <tr>
        <td>
            Title: 
        </td>
        <td>
            <input type="text">
        </td>
    </tr>
    <tr>
        <td>
            Name: 
        </td>
        <td>
            <input type="text">
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button>Save</button>
            <button>Add Task</button>
        </td>
    </tr>
</table>

<h2>My Tasks</h2>

<!-- add if else statement to display array of tasks -->

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Due Date</th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text">
            </td>
            <td>
                <input type="date">
            </td>
            <td>
                <button>X</button>
            </td>
        </tr>
    </tbody>
</table>
