<h1>Cart</h1>
<table>
    <tr>
        <td>
            Name:
        </td>
        <td>
            <input type="text">
        </td>
    </tr>
    <tr>
        <td>
            Address:
        </td>
        <td>
            <input type="text">
        </td>
    </tr>
    <tr>
        <td>
            Delivery:
        </td>
        <td>
            <input id="am" type="radio">
            <label for="am">AM</label>
            <input id="pm" type="radio">
            <label for="pm">PM</label>
        </td>
    </tr>
    <tr>
        <!-- display cart items here -->
        <!-- name, price, qty, total -->
    </tr>
    <tr>
        <td></td>
        <td>
            <button type="submit">Checkout</button>
        </td>
    </tr>
</table>