
<table>
    <!-- <p>{{ inputValue }}</p> -->
    <tr>
        <td *ngFor="let f of allFruits; let i=index">
            <p>{{ f.name }}</p>
            <p>{{ f.unitPrice | currency }}</p>
            <img src="./assets/{{ f.image }}" (click)="selectFruit(f)">
        </td>
    </tr>
</table>

<form [formGroup]="fruitForm" (ngSubmit)="processOrder()">
    <table>
        <tr>
            <td>Item:</td>
            <input type="text" readonly formControlName="item">
        </tr>
        <tr>
            <td>Unit Price: $</td>
            <input type="number" readonly formControlName="unitPrice">
        </tr>
        <tr>
            <td>Quantity:</td>
            <input type="number" formControlName="qty">
        </tr>
       
        <!-- if invalid, show message -->
        <tr *ngIf="controlInvalid">
            <td></td>
            <td>
                Please select an item.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" >Add</button>
            </td>
        </tr>
    </table>
</form>
